@charset "UTF-8";

//-----------------------------------------------------
// page slide animate scss
//-----------------------------------------------------

// 上方向动画
//---------------------------------------
// 从上向下方向进入动画
@mixin top-in($startY: -2000px, $endY: 0) {
    @include keyframes(top-in) {
        0% {
            @include translate3d(0, $startY, 0);
        }
        100% {
            @include translate3d(0, $endY, 0);
        }
    }
    .top-in {
        @include animation-name(top-in);
        @extend %animated;
    }
}

// 从下向上方向消失动画
@mixin top-out($startY: 0, $endY: -2000px) {
    @include keyframes(top-out) {
        0% {
            @include translate3d(0, $startY, 0);
        }
        100% {
            @include translate3d(0, $endY, 0);
        }
    }
    .top-out {
        @include animation-name(top-out);
        @extend %animated;
    }
}

// 右方向动画
//---------------------------------------
// 从右向左方向进入动画
@mixin right-in($startX: 2000px, $endX: 0) {
    @include keyframes(right-in) {
        0% {
            @include translate3d($startX, 0, 0);
        }
        100% {
            @include translate3d($endX, 0, 0);
        }
    }
    .right-in {
        @include animation-name(right-in);
        @extend %animated;
    }
}

// 从左向右方向消失动画
@mixin right-out($startX: 0, $endX: 2000px) {
    @include keyframes(right-out) {
        0% {
            @include translate3d($startX, 0, 0);
        }
        100% {
            @include translate3d($endX, 0, 0);
        }
    }
    .right-out {
        @include animation-name(right-out);
        @extend %animated;
    }
}

// 下方向动画
//---------------------------------------
// 从下向上方向进入动画
@mixin bottom-in($startY: 2000px, $endY: 0) {
    @include keyframes(bottom-in) {
        0% {
            @include translate3d(0, $startY, 0);
        }
        100% {
            @include translate3d(0, $endY, 0);
        }
    }
    .bottom-in {
        @include animation-name(bottom-in);
        @extend %animated;
    }
}

// 从上向下方向消失动画
@mixin bottom-out($startY: 0, $endY: 2000px) {
    @include keyframes(bottom-out) {
        0% {
            @include translate3d(0, $startY, 0);
        }
        100% {
            @include translate3d(0, $endY, 0);
        }
    }
    .bottom-out {
        @include animation-name(bottom-out);
        @extend %animated;
    }
}

// 左方向动画
//---------------------------------------
// 从左向右方向进入动画
@mixin left-in($startX: -2000px, $endX: 0) {
    @include keyframes(left-in) {
        0% {
            @include translate3d($startX, 0, 0);
        }
        100% {
            @include translate3d($endX, 0, 0);
        }
    }
    .left-in {
        @include animation-name(left-in);
        @extend %animated;
    }
}

// 从右向左方向消失动画
@mixin left-out($startX: 0, $endX: -2000px) {
    @include keyframes(left-out) {
        0% {
            @include translate3d($startX, 0, 0);
        }
        100% {
            @include translate3d($endX, 0, 0);
        }
    }
    .left-out {
        @include animation-name(left-out);
        @extend %animated;
    }
}

// 渐隐动画
//---------------------------------------
// 渐隐出现
@mixin fade-in($startOpacity: 0) {
    @include keyframes(fade-in) {
        0% {
            opacity: $startOpacity;
        }
        100% {
            opacity: 1;
        }
    }
    .fade-in {
        @include animation-name(fade-in);
        @extend %animated;
    }
}

// 渐隐消失
@mixin fade-out($endOpacity: 0) {
    @include keyframes(fade-out) {
        0% {
            opacity: 1;
        }
        100% {
            opacity: $endOpacity;
        }
    }
    .fade-out {
        @include animation-name(fade-out);
        @extend %animated;
    }
}
