@charset "UTF-8";

//-----------------------------------------------------	
// variables scss
//-----------------------------------------------------	


// switch
//-----------------------------------------------------	
$borderBoxSwitch:                true !default; // true为*{box-sizing:border-box;}


// font相关
//-----------------------------------------------------	
$fontSize:                       14px !default; 
$fontLineHeight:                 1.5 !default;
$fontFamily:                     "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif !default;
// ios华文黑体,Android 4.0之后,Android 4.0之前
$fontCn:                         STHeiTi, Roboto, "Droid Sans Fallback", Arial !default; 
// ios4.0+,ios4.0-,Android 4.0+,Android 4.0-
$fontEn:                         "Helvetica Neue", Helvetica, Roboto, "Droid Sans", Arial !default; 

// 背景色，文本色，边框色，链接色
//-----------------------------------------------------	
$colorText:                      #333 !default;
$colorBg:                        #fff !default;
$colorBorder:                    #dbdbdb !default;
$colorLink:                      #08c !default; // 如果只有一个值则滑过的值为这个值的darken 5%，如果有两个值则第二个值为滑过的值
$colorPlaceholder:               #999 !default; // input placeholder color
$colorDisabled:                  #999 #e3e3e3 #dbdbdb !default; // textColor bgColor borderColor


// 基本颜色
// color function : http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html
// lighten($color, $amount)
// darken($color, $amount)
// opacity($color, $amount)
// mix($color1, $color2[, $amount])
//-----------------------------------------------------	
$black:                          #000;
$gray3:                          #333;
$gray6:                          #666;
$gray9:                          #999;
$grayC:                          #ccc;
$grayF:                          #f5f5f5 !default;
$white:                          #fff;

// Cool
$aqua:                           #7fdbff !default;
$blue:                           #0074d9 !default;
$navy:                           #001f3f !default;
$teal:                           #39cccc !default;
$green:                          #2ecc40 !default;
$olive:                          #3d9970 !default;
$lime:                           #01ff70 !default;

// Warm
$yellow:                         #ffdc00 !default;
$orange:                         #ff851b !default;
$red:                            #ff4136 !default;
$fuchsia:                        #f012be !default;
$purple:                         #b10dc9 !default;
$maroon:                         #85144b !default;

$primary:                        #0078e7 !default;


// 元素上下间距
//-----------------------------------------------------	
$gap:                            20px !default;


// header,footer等的高度
//-----------------------------------------------------	
$barHeight:                      44px !default;


// radius
//-----------------------------------------------------	
$radiusBase:                     5px !default;
$radiusSmall:                    3px !default;


// btn
// 默认的按钮大小，颜色，圆角
//-----------------------------------------------------	
$btnSize:                        1em $barHeight !default; // 默认按钮的左右padding，高度
$btnColor:                       #333 #e6e6e6 !default; // 默认按钮的textColor, bgColor
$btnRadius:                      false !default;


// z-index
//-----------------------------------------------------	
$zIndexHeader:                   1000 !default;
$zIndexFooter:                   2000 !default;
$zIndexPopup:					 3000 !default;                     
$zIndexOverlay:                  4000 !default; // 默认高于header和footer部分
