@charset "UTF-8";

//-----------------------------------------------------	
// variables scss
//-----------------------------------------------------	

// active state switch
//-----------------------------------------------------
$borderBoxSwitch:               true !default;


// font相关
//-----------------------------------------------------	
$fontSize:                       14px !default; 
$fontLineHeight:                 1.5 !default;
$fontFamily:                     system-ui, -apple-system, BlinkMacSystemFont, "Microsoft YaHei UI", "Microsoft YaHei", Roboto, "Hiragino Sans GB",  "Source Han Sans CN", Fira Sans, "Droid Sans", "Helvetica Neue", arial, sans-serif !default;
// 苹方, 冬青黑体，微软雅黑UI（win8.1+），微软雅黑，思源黑体（安卓）
$fontCn:                          "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", "Source Han Sans CN" sans-serif !default; 
// 前两个为safari chrome, ios4.0+, ios4.0-, Android 4.0+, Android 4.0-, windows&windows Phone,
$fontEn:                         -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, "Droid Sans", "Seogoe UI", Arial !default; 


// 背景色，文本色，边框色，链接色
//-----------------------------------------------------	
$colorText:                      #333 !default;
$colorBg:                        #fff !default;
$colorBorder:                    #dbdbdb !default;
$colorLink:                      #08c !default;
$colorPlaceholder:               #999 !default; // input placeholder color
$colorDisabled:                  (text: #999, bg: #e3e3e3, border: #dbdbdb) !default; // textColor bgColor borderColor
$colorOverlay:                   rgba(0,0,0,.7) !default; // 遮罩层颜色


// 基本颜色
// color function : http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html
// lighten($color, $amount)
// darken($color, $amount)
// opacity($color, $amount)
// mix($color1, $color2[, $amount])
//-----------------------------------------------------	
$color3:                          #333;
$color6:                          #666;
$color9:                          #999;
$colorC:                          #ccc;
$colorF:                          #f5f5f5;

$blue:                            #007aff !default;
$orange:                          #ff9500 !default;
$red:                             #ff3b30 !default;
$green:                           #4cd964 !default;
$primary:                         #007aff !default;


// 元素上下间距
//-----------------------------------------------------	
$gap:                             20px !default;


// header,footer等的高度
//-----------------------------------------------------	
$barHeight:                       44px !default;


// radius
//-----------------------------------------------------	
$radiusBase:                      5px !default;
$radiusSmall:                     3px !default;


// timing-function
//-----------------------------------------------------
$timingFunction:                  cubic-bezier(0.42, 0, 0.58, 1);


// active state switch
//-----------------------------------------------------
$activeStateSwitch:               true !default;


// z-index
//-----------------------------------------------------	
$zIndexHeader:                    1000 !default;
$zIndexFooter:                    2000 !default;
$zIndexPopup:					  3000 !default;                     
$zIndexOverlay:                   4000 !default; // 默认高于header和footer部分
