@charset "UTF-8";

//----------------------------------------------------- 
// icon.scss
//-----------------------------------------------------

// icon paint 
//----------------------------------------------------- 

@import "icons-paint/switch";
@import "icons-paint/radio-checkbox";
@import "icons-paint/v-right";
@import "icons-paint/v-left";
@import "icons-paint/search";
@import "icons-paint/cross";
@import "icons-paint/dots";
@import "icons-paint/plus";
@import "icons-paint/right";
@import "icons-paint/tips";

// icon svg 
//----------------------------------------------------- 

.icon-svg{
    width: 16px;
    height: 16px;
    fill: currentColor;
}

.icon-loading {
    animation: loadingRotate 1s linear infinite;
}

@keyframes loadingRotate {
    to {
        transform: rotate(360deg);
    }
}

